<div class="filters">
  <div class="header">
    <img src='../../assets/logo.png'>
  </div>
  <div class="search-option">
    <div class="name">Location</div>
    <input id="map-location" class='search-input' type="text" placeholder="">
  </div>
  <div class="search-option" *ngIf="results.length > 0">
    <div class="name">Results ({{results.length}})</div>
    <div class="results">
      <div class="result" *ngFor="let result of results">
        <div class="name">Name: {{result.name}}</div>
        <div>Website: {{result.website}}</div>
        <div>Address: {{result.formatted_address}}</div>
        <div>Phone number: {{result.formatted_phone_number}}</div>
        <div>Rating: {{result.rating}}</div>
        <div class="tags">
          <div class="tag" *ngFor="let tag of result.tags">{{tag}}</div>
        </div>
      </div>
    </div>
  </div>
  <button [disabled]="!latitude || !longitude || !radius" class="search" (click)="search()">Search</button>
</div>
<search-map [places]="places" [markers]="results" [circles]="circles" (location)="updateLocation($event)"></search-map>
