:host {
  font-family: sans-serif;

  textarea:focus, input:focus{
      outline: none;
  }
}

.filters {
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background: #dfe2e5;
  padding: 15px;
  padding-top: 50px;
  overflow: scroll;

  .header {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #53af7e;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
  }

  .search-option {
    background: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;

    .name {
      font-size: 20px;
      padding-bottom: 5px;
    }

    a {
      margin-bottom: 15px;
      display: block;
    }

    .title {
      margin-bottom: 20px;
    }

    input {
      border: none;
      border-bottom: 1px solid grey;
      width: 100%;
      font-size: 14px;
    }

    .result {
      margin: 20px 0px;
    }

    .tag {
      background: #53af7e;
      color: white;
      border-radius: 25px;
      display: inline-block;
      padding: 4px;
      margin: 2px 3px;
      display: inline-block;
    }
  }

  .search {
    background: #53af7e;
    color: white;
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
  }
}
