<div class="filters">
  <div class="header">
    <img src='../../assets/logo.png'>
  </div>
  <div class="search-option">
    <div class="name">Go to location</div>
    <input id="map-location" class='search-input' type="text" placeholder="">
  </div>
  <input [(ngModel)]="yearFilter" #ctrl="ngModel" type="text" placeholder="year">
  <input type="text" placeholder="make">
  <input type="text" placeholder="model">
  <button class="search" (click)="filter()">Filter</button>
  <div class="search-option" *ngIf="results.length > 0">
    <div class="title">Latest Transactions ({{results.length}})</div>
    <div class="results">
      <table>
        <tr>
          <th> Dealership </th>
          <th> Year </th>
          <th> Make </th>
          <th> Model </th>
          <th> Condition </th>
          <th> Date Sold </th>
        </tr>
        <tr *ngFor="let result of results">
          <td>Name here</td>
          <td *ngIf="result && result._source.vehicle.year">{{result._source.vehicle.year}}</td>
          <td *ngIf="result && result._source.vehicle.make">{{result._source.vehicle.make}}</td>
          <td *ngIf="result && result._source.vehicle.model">{{result._source.vehicle.model}}</td>
          <td>Used</td>
          <td *ngIf="result && result._source.stats.last_seen">{{result._source.stats.last_seen}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<search-map [places]="places" [markers]="results" [circles]="circles" (location)="search($event)"></search-map>
<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#53af7e"
type = "timer"
></ngx-spinner>
