:host {
  font-family: sans-serif;

  textarea:focus, input:focus{
      outline: none;
  }
}

#resultsTable {
  color: #505050
}

#resultsTable th{
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

#resultsTable td {
  padding-left: 20px;
  padding-right: 20px;
}

#statsTable {
  color: #505050
}

#statsTable th{
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

#statsTable td {
  padding-left: 20px;
  padding-right: 20px;
}

.filters {
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 750px;
  background: #dfe2e5;
  padding: 15px;
  padding-top: 50px;
  overflow: scroll;

  .header {
    position: absolute;
    top: 0px;
    left: 0px;
    background: white;
    text-align: center;
    width: 100%;
    padding: 10px 0px;

    img {
      height: 30px;
    }
  }

  .inline-search-option {
    border-radius: 5px;
    background: white;
    border: none;
    font-size: 16px;
    padding: 10px;
  }

  .search-option {
    background: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;

    .name {
      font-size: 18px;
      padding-bottom: 5px;
    }

    a {
      margin-bottom: 10px;
      display: block;
    }

    .title {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: bold;
      color: #929292;
    }

    input {
      border: none;
      border-bottom: 1px solid grey;
      width: 100%;
      font-size: 14px;
    }

    .result {
      margin: 20px 0px;

      a {
        color: black;
      }
    }

    .tag {
      background: #c7c9cc;
      color: white;
      border-radius: 25px;
      display: inline-block;
      padding: 4px;
      margin-top: 5px;
      margin-right: 5px;
      display: inline-block;
    }
  }

  .search {
    background: #4480c2;
    color: white;
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    min-width: 75px;
    min-height: 38px;
  }
}
